.button {
    display: block;
    font: inherit;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    align-items: center;
    align-self: center;
    cursor: pointer;
    background: #741188;
    margin: 0.25rem auto;
    color: white;
    .button:hover,
    .button:active {
        border: none;
        background: #74118857;
    }
    .button:focus {
        background: #74118857;
        outline: none;
    }
}