.todoList {
  background: white;
  border-radius: 20xp;
  width: 50%;
  max-width: 40rem;
  margin: 2rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.todoList ul {
  list-style: none;
  padding: 1rem;
}

.todoList li {
  border: 1px solid grey;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.todoList .complete {
  opacity: 0.5;
  text-decoration: line-through;
}

.todoList .uncomplete {
  opacity: 1;
  text-decoration: none;
}
